# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn

| Data Science Tools | 
|---|
| Jupyter Notebook | 
| RStudio | 
| Visual Studio Code |

Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [12]:
hours = 200/60
#This will convert 200 minutes to hours by diving by 60
hours

3.3333333333333335

## Author
Jorge Israel Fr√≥meta Moya